<div *ngIf="isLoading" class="loader">
  Loading...
</div>
<div *ngIf="isLoading" class="hourglassBackground">
  <div class="hourglassContainer">
    <div class="hourglassCurves"></div>
    <div class="hourglassCapTop"></div>
    <div class="hourglassGlassTop"></div>
    <div class="hourglassSand"></div>
    <div class="hourglassSandStream"></div>
    <div class="hourglassCapBottom"></div>
    <div class="hourglassGlass"></div>
  </div>
</div>

<div *ngIf="!isLoading">
  <ul>
    <li *ngFor="let cour of cours">{{ cour.titre }}</li>
  </ul>
</div>
