<form [formGroup]="coursForm" (ngSubmit)="onSubmit()">
  <label for="idsClasse">Classes:</label>
  <select formControlName="idsClasse" multiple>
    <option *ngFor="let classe of classes" [value]="classe.id">{{ classe.nom }}</option>
  </select>

  <label for="titre">Titre:</label>
  <input type="text" formControlName="titre">

  <label for="description">Description:</label>
  <textarea formControlName="description"></textarea>

  <button type="submit" onsubmit="onSubmit()">Submit</button>
</form>
