<form action="" method="post">

  <label for="champ1">Champ 1 :</label>
  <input type="text" id="champ1" name="champ1" required>
  <br>

  <label for="champ2">Champ 2 :</label>
  <input type="text" id="champ2" name="champ2" required>
  <br>

  <label for="multidropdown">Multidropdown :</label>
  <select id="multidropdown" name="multidropdown[]" multiple>
      <option value="option1">Option 1</option>
      <option value="option2">Option 2</option>
      <option value="option3">Option 3</option>
  </select>
  <br>

  <input type="submit" value="Envoyer">

</form>
