<div class="form-container">
  <!--<div class="title-group"><p class="title">Login</p></div>-->
	<form class="form">
    <!-- [formGroup]="produitForm" (ngSubmit)="onSubmit()"-->
		<div class="form-group">
			<label for="username">Username</label>
			<input type="text" name="username" id="username" placeholder="">
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholder="">
		</div>
		<button type="submit" class="sign">Sign in</button>
	</form>
</div>
