<table>
  <thead>
    <tr>
      <th>Student Name</th>
      <ng-container *ngFor="let eval of evals">
        <th colspan="2">{{ eval.sujet }}</th>
      </ng-container>
    </tr>
    <tr>
      <th></th>
      <ng-container *ngFor="let eval of evals">
        <th>Note</th>
        <th>Coeff</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eleve of eleves">
      <td>{{ eleve.prenom }} {{ eleve.nom }}</td>
      <ng-container *ngFor="let eval of evals">
        <td>
          <input type="number" [value]="getGrade(eleve.id, eval.id)" (input)="setGrade($event.target, eleve.id, eval.id)">
        </td>
        <!-- TODO : validation  -->
        <td>
          <input type="number" [value]="getCoeff(eleve.id, eval.id)" (input)="setCoeff($event.target, eleve.id, eval.id)">
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
<button (click)="exportToExcel()">Export Results to Excel</button>
