.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f7f6;

  flex-wrap: wrap;

  .login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .login-title {
      margin-bottom: 2rem;
      text-align: center;
      color: #333;
      font-family: 'Roboto', sans-serif;
    }

    .form-group {
      margin-bottom: 1.5rem;

      label {
        display: block;
        margin-bottom: .5rem;
        color: #606f7b;
        font-family: 'Roboto', sans-serif;
      }

      input {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-sizing: border-box;
        transition: border-color 0.3s;

        &:focus {
          border-color: #0056b3;
          outline: none;
        }
      }
    }

    .btn-login {
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #0056b3;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken(#0056b3, 10%);
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }



  }
  .error-message {
    display: block; // Ceci garantit que l'erreur est un bloc prenant toute la largeur
    width: 100%; // Ceci garantit que l'erreur prend toute la largeur disponible
    //margin-top: 1rem;
    color: #ff3860;
    text-align: center;
  }
}
